# ignore contents in folders
*.pyc
__pycache__/
outputs/**
inputs/*
.~*
notebooks/.*
.ipynb_checkpoints/*


!inputs/72_b2305_d191220.csv
!inputs/b2305_d191220_simplified_behaviour.csv
!outputs/.gitkeep
